**/.openzeppelin
**/.vscode
**/artifacts
**/build
**/cache
**/coverage
**/dist
**/node_modules

*.log
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log
*.env
!example.env
# 排除所有 .gradle 目录
**/.gradle/

# 排除所有 .idea 目录
**/.idea/